.vidu{
    background-image: url(../imagenes/fondovidu.jpg);
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}
.infom{
    background-image: url(../imagenes/fondoinfom.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;   
}
.infom2{
    background-image: url(../imagenes/fondoinfom2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.lolo{
    background-color: rgba(0, 0, 0, 0.808);
    color: white;
    text-align: center;
}
.este{
    background-image: url(../imagenes/fondoforo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Times New Roman', Times, serif
}
.inicio{
    background-image: url(../imagenes/fondoforo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.inci{
    background-image: url(../imagenes/fondoinci.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Times New Roman', Times, serif

}
.ayudar{
    background-image: url(../imagenes/fondoayu.jpg);
    background-repeat: no-repeat;
    font-family: 'Times New Roman', Times, serif;

}
.ayua2{
    background-image: url(../imagenes/fondoforo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Times New Roman', Times, serif
}
.iman{
    background-image: url(../imagenes/fondoiman.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Times New Roman', Times, serif
}
.principal{
    font-size: 25px;
}
.ano{
    font-size: 25px; 
}
.fooll{
    color: white;
}
.tua{
    background-color: white;
}

.fondo-naranja{   
    background-color: orange;
}
.foll{
    background-color: #00b1f79a;
}
.naranja:hover{
    background: transparent;
    color:orange;
}
.lala{
    background-color: rgba(0, 0, 0, 0.534);
    
}
.fondo-naranja{
    color: orange;
}
a{
    color: white;
}
a:hover{
    background-color: orange;
    color: white;
}
.for{
    color: blue;
    background: transparent;
}
.tit{
    font-family: fantasy;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 45px;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgba(0, 0, 0, 0.699);
}
.ama{
    background-image: url(../imagenes/sub.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    
}
.lalo{
    color: white;
    font-size: 35px;
}
.ete{
    color: rgb(252, 24, 24);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
}
.eto{
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    
}
.lasa{
    font-size: 25px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgba(37, 107, 110, 0.116);
}
.laro{
    background-color: rgba(128, 128, 128, 0.76);
    
}
.bt{
    color: rgb(255, 255, 255);
    background-color: rgba(81, 6, 255, 0.486);
}
.lara{
    padding: 40px;
}