*{
    
}
body{
    background-image: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/82317c14-7f59-4cf2-96f8-f8fa39925766/d8efs9b-627ad95d-edbd-46f6-9df7-ce9358c9fa5f.jpg/v1/fill/w_1024,h_722,q_75,strp/hxh_meruem_by_juhencas_by_juhencas_d8efs9b-fullview.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzIyIiwicGF0aCI6IlwvZlwvODIzMTdjMTQtN2Y1OS00Y2YyLTk2ZjgtZjhmYTM5OTI1NzY2XC9kOGVmczliLTYyN2FkOTVkLWVkYmQtNDZmNi05ZGY3LWNlOTM1OGM5ZmE1Zi5qcGciLCJ3aWR0aCI6Ijw9MTAyNCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.ZL8zWnGLgLX2UJcFt7i1EyakmI1glhuWmHzPXKm9XkQ);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}